*.mp4
__pycache__
venv
FastRcNN/input/video_1.mp4
FastRcNN/input/image_1.jpg
*.tfevents.*
\libtorch
\build
\onnxruntime-linux-x64-1.15.1
\onnxruntime-linux-x64-1.21.0
\vision
*-workspace
*.webm
\new_dataset
.jpg
.png
*.zip

new_dataset
*.jpg
